$hero-full-screen-bg: url('https://images.pexels.com/photos/378273/pexels-photo-378273.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb') center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

.hero-full-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;

  .middle-content-section {
    text-align: center;
    color: $hero-full-screen-text-color;
  }

  .top-content-section {
    width: 100%;
  }

  .bottom-content-section {
    padding: 1rem;

    svg {
      height: rem-calc(60);
      width: rem-calc(60);
      fill: $hero-full-screen-text-color;
    }
  }

  // optional demo styles
  .top-bar {
    background: transparent;

    .menu {
      background: transparent;
    }

    .menu-text {
      color: $hero-full-screen-text-color;
    }

    .menu li {
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $hero-full-screen-text-color;
      font-weight: bold;
    }
  }
}


.tag-cloud-section {
  background: #7b93a4;
  padding: 4rem;
  max-width: 800px;
  margin: 0 auto;
}

.tag-cloud-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #e6e6e6;
  border-bottom: 1px solid #cacaca;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.tag-cloud {
  margin: 1rem;
  text-align: center;
  list-style: none;
}

.tag-cloud .tag-cloud-individual-tag {
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  border-radius: 0;
  font-size: 0.8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: 5000px;
  background: #2c3840;
  display: inline-block;
  color: #e6e6e6;
  margin: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.tag-cloud .tag-cloud-individual-tag .fa {
  margin-left: 7px;
  color: #e6e6e6;
}

.tag-cloud .tag-cloud-individual-tag:hover {
  background: black;
  transition: background-color .2s ease-in;
}

.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;

.stats-list-positive {
    color: $success-color;
  }

  .stats-list-negative {
    color: $alert-color;
  }

  & > li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $medium-gray;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;

    &:last-child {
      border: none;
      margin: 0;
      padding: 0;
    }

    .stats-list-label {
      display: block;
      margin-top: 2px;
      font-size: 0.9em;
      font-weight: normal;
    }
  }
}

